{% extends '@templates/layouts/app.twig' %}

{% block title %}
    Rólunk
{% endblock %}

{% block content %}

<section class="uk-height-medium uk-background-cover">
    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" title="Fotó: Kanhaiya Sharma" data-src="assets/img/hero.jpg" uk-img>
        <h1>Bemutatkozás</h1>
    </div>
</section>
<section class="uk-section uk-section-muted">
    <div class="uk-container">  
        <article class="uk-text-secondary">
            <h1>Rólam</h1>
            <p>
                Telek Gábor szoftverfejlesztő, 3D tervező vagyok.
                Közel 35 éve dolgozom az iparban, azon belül a fémipari ágazatban. 
                Ebben a szegmensben szerzett sokéves tapasztalatomat sikerrel 
                tudom kamatoztatni a számítógépes tervezés és modellezés 
                területén egyaránt.
            </p>
            <p>
                Számtalan esetben fordult elő, hogy egy adott termék sorozatgyártását megelőzően szükséges
                volt néhány prototípus gyártása, hogy a módosításokat követően már a hibátlan és tökéletes 
                termék kerüljön gyártásba. A 3D nyomtatásnak köszönhetően nagy mértékben voltak csökkenthetőek a
                sorozatgyártás költségei.
            </p>
        </article>
        <hr class="uk-divider-icon uk-margin-large">
         <section>
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="assets\img\3D.png" alt="3D concept" style="max-width: 400px; max-height: 400px" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Néhány szó a 3D nyomtatásról</h3>
                        <p>A teremtés vágya egyidős az emberiséggel. Létrehozni valami újat mindig nagyszerű dolog. Talán meghökkentő, de a 3D nyomtatás ősének a bútoripar egyik innovációját tekinthetjük. A bútorelemekre UV fény segítségével műanyag réteget helyeztek fel. Felismerték, hogy ezekből a rétegekből akár több ezret is egymásra helyezhetnek, a megfelelő rétegparaméterek számítógépes meghatározása segítségével pedig végül összefüggő térbeli alakzatot nyerhetnek. Valójában ezt a pontot tekinthetjük a modern 3D nyomtatás megszületésének.</p>
                        <p>
                            Jelenleg használt technológia FFF-FDM-LPD, 220x220x250 méretű építőtérrel, fűtött tárgyasztallal. A kétfokozatú fém extrudernek köszönhetően az extrudálás egyenletesebb, a nyomtatás stabilabb és a nyomtatási pontosság magasabb.
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Mikor lehet rá szükségünk?</h3>
                <ul>
                    <li>Prototípusok létrehozása, egyedi elképzeléseknek megfelelően</li>
                    <li>Névreszóló ajándékok</li>
                    <li>Makettek készítése</li>
                    <li>Eltört alkatrészek pótlása</li>
                    <li>Már nem forgalmazott alkatrészek gyártása</li>
                </ul>
            </div>
        </section>
        <hr class="uk-divider-icon uk-margin-large">
        <h2 class="uk-text-secondary">Rólunk mondták</h2>
        <section>
            <div class="uk-slider-container-offset" uk-slider>
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
                    <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                        <li>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="images/photo.jpg" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title">Zsófi</h3>
                                    <p>Igazán örömünkre szolgáltak az aranyos foszforeszkáló figurák. A valóságban éppen olyanok, mint a képen. 
                                    A manócskánk imád a szobájában aludni. Köszönünk mindent!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="images/dark.jpg" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title">András</h3>
                                    <p>Egy törött alkatrészre volt szükségem, sajnos már nem gyártják a gépet amibe kellett. 
                                    Utolsó lehetőségként kipróbáltam a 3d nyomtatásos technológiával pótolni az alkatrészt. Hála nektek a gépünk
                                    működik tovább, nem kellett újat venni.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="images/light.jpg" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title">Zsena</h3>
                                    <p>Zsena majd ír ide valami igazat (vagy hasonlót).</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="images/photo2.jpg" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title">Tamás</h3>
                                    <p>Az elején kicsit döccenősen mentek a dolgok, de az eredmény mindenért kárpótolt.
                                    Tudom nem vagyok egyszerű ügyfél, ennek ellenére kiváló partnerre leltem. A jövőben 
                                    már nem is kérdés hogy hova forduljak.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="images/photo3.jpg" alt="">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title">Patrícia</h3>
                                    <p>Imádom a telefontartómat, olyan lányos. A színén sokat bizonytalankodtam és 
                                    Gábor sem könnyítette meg a dolgomat az elém tárt választékkal. Már fontolgatom a 
                                    következő kütyümet.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                </div>

                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

            </div>
        </section>
        
    </div>
</section>
{% endblock %}