{% extends  '@templates/layouts/app.twig' %}

{% block title %}
    404: Page not found
{% endblock %}

{% block content %}

    <section class="uk-section uk-section-muted">
        <div class="uk-container uk-flex-1" style="flex-grow: 1">
            <p style="display: block"><h1>404: az oldal nem található</h1></p>
            <a href="/"><button class="uk-button uk-button-default uk-button-large">Vissza a kezdőlapra</button></a>
        </div>
    </section>

{% endblock %}
