{% extends  '@templates/layouts/error.twig' %}


{% block title %}
    500: Internal Server Error
{% endblock %}

{% block content %}

    <section class="uk-section uk-section-muted">
        <div class="uk-container uk-flex-1" style="flex-grow: 1">
            <p style="display: block"><h1>500: Internal Server Error</h1></p>
            <a href="/"><button class="uk-button uk-button-default uk-button-large">Vissza a kezdőlapra</button></a>
        </div>
    </section>

{% endblock %}
