{% extends  '@templates/layouts/app.twig' %}

{% block title %}
    404: Page not found
{% endblock %}

{% block content %}

    <section class="uk-section uk-section-muted">
        <div class="uk-container uk-flex-1" style="flex-grow: 1">
            <p style="display: block"><h1>{{ code }}: {{ phrase }}</h1></p>
            <button class="uk-button uk-button-default uk-button-large">Vissza a kezdőlapra</button>
        </div>
    </section>

{% endblock %}