$font-stack: 'Inter', sans-serif;;
$primary-black: #222;
$secondary-black: #3d3d3d;
$primary-color: #0094ff;
$light-blue: #9dc8ff;
$purple: #a599d7;
$white: #ffffff;
$gray: #d9e0e6;

$tablet-width: 768px;
$desktop-width: 1024px;